
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            margin: -5px 0px 20px -5px;
            font-family: 'PT Serif', serif;
        }
        #first{
            position: absolute;
            display: grid;
            grid-template-columns: 150px auto ;
            grid-template-rows:  auto  90% 20px;
                
            grid-template-areas: 
                "heading    content"
                "nav        content"
                "footer     footer";   
            grid-column-gap: 5px;
            grid-row-gap: 5px;

            padding: 5px;
            margin: auto 25px;
        }

        header{
            margin-left: -25px;
            grid-area: heading;
            font-size: .7em;
            font-weight: 700; 
            padding: 25px 40px 25px 30px;  
            position: fixed;
            height: 100%;
            z-index: 3;
            background-color: #fff;
        }

        a{
            text-decoration: none;
            color:  #000;
        }
        .carrocha:hover {
            content: "Carla Rocha"
        }
        p{
            line-height: 1.6em;
        }

        a:hover{
           color:  #BE904B;
        }
        #toggle{
            width:0;
            height:0;
        }
        nav{
            position: fixed;
            z-index: 4;
            width: 135px;
            height: 100%;
            grid-area: nav;
            border-right: 1px solid #F37970; 
            line-height: 1.5em;
            margin: 80px 0px;
            left:-1px;
            background-color: #FFF;

            text-decoration: none;
            color:  #000;
            font-family: Raleway, sans-serif;
            padding-left: 40px;
            padding-right: 45px;
        }

        ul  {
            list-style: none;
            line-height: 2.5em;
            text-align: left;
        }
   

        #email, #instagram, #linkedin, #github{
            height: 20px;
            width: 20px;
            display: inline-block;
            margin:30px 5px 6px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        #email{
            width: 24.6px;
            margin-left: 0;
            background-image: url("/icons/mail.png");
        }
        #email:hover{
            background-image: url("/icons/mailhover.png");
        }
        #instagram{
            background-image: url("/icons/instagram.png");
        }
        #instagram:hover{
            background-image: url("/icons/instagramhover.png");
        }
        #linkedin{
            background-image: url("/icons/linkedin.png");
        }
        #linkedin:hover{
            background-image: url("/icons/linkedinhover.png");
        }
        #github{
            background-image: url("/icons/grithub-01.png");
        }
        #github:hover{
            background-image: url("/icons/grithubhover-01.png");
        }
        
        main{
            position: relative;
            margin-top: 45px;
            grid-area: content;
            padding: 20px 20px 60px 70px;
            font-family: 'Montserrat', Raleway, sans-serif;
            
        }
    /*cv.html*/
        #cabecalho h2{
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            font-weight: 200;
            font-size: 3em;
            padding: 10px 0px;
        } 
        
        #one{
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows:  auto auto 12% auto [row4-end];
                
            grid-template-areas: 
                "overview     overview"
                "academic     skill"
                "employment   skill"
                "employment   references";
               
            grid-column-gap: 50px;
            grid-row-gap: 20px;
            margin-right: 40px;
            min-width: 820px;
        }
      
        .sel{
            margin-top: 20px;
            min-width: 320px;
        }
        h3{
            font-family: 'Quicksand', sans-serif;
            font-size: 1.5em;
            color: #000;
            border-bottom: 3px solid #F37970;
            border-radius: 2px;
            line-height: 1.5em;
            margin-bottom: 20px;
            margin-left: -8px;
            padding-left: 6px ;
        }
      

        h5{
            font-family: 'Quicksand', sans-serif;
            color: #BB6248;
            font-size: 1.2em;
            font-weight: 500;
            margin-top: 20px;
        }
        h5 a {
            color: #BB6248;
        }

        h6{
            font-family: 'Quicksand', sans-serif;
            font-size: .9em;
            line-height: 1.8em;
            font-weight: 200;
        }
        #overview{
            grid-area: overview;
            line-height: 1.5em;
        }
        #overview br{
           line-height: .6em;
        }
        #academic{
            grid-area: academic;
        }
        #sva{
            width:270px;
            margin: 35px 10px 45px 60px;
            padding: 5px 15px 15px 40px;
            background-color: rgba(204, 204, 204, 0.1);
        }

        #sva h5{
            font-family: 'Quicksand', sans-serif;
            color: #BB6248;
            font-size: 1em;
            font-weight: 500;
            margin-top: 10px;
            line-height: 1.3em;
        }

        #sva h6{
            font-family: 'Quicksand', sans-serif;
            font-size: .7em;
            font-weight: 200;
        }

        #sva p{
            font-size: .8em;
            line-height: 1.6em;
        }
        #employment{
            grid-area: employment;
            margin-bottom: auto;
            position: relative;
        }
        #academic p, #employment p{
            padding: 5px 10px;
        } 

        .local{
            height: 12px;
            margin-left: 1px;
            margin-right: -2px;
        }
        
        #skill{
            grid-area: skill;
            
        }

        #skill h6{
            padding: 6px;
            line-height: 3em;
        }
        .wrap{
            display: flex;
            align-items: center;
            justify-content: left; 
        }
    
        .line {
           margin-left: 70px;
           width: 300px;
           min-width: 300px;
           /*border: 1px solid red;*/
           position: absolute;
           z-index: -1;
        }
        .progress{
            display: inline-block;
        }

        @keyframes fillBar{
            0% { background-color: none;
            }
            
            100% { background-color: F37970;}
        }
        .bola{ 
            display: inline-block;
            height: 10px;
            width: 10px; 
            background-color: #FFF;
            border: 2px solid #F37970 ;
            border-radius: 15px;
            margin: 0px 4px;
            
        }

        #pAd .bola, #pAd1 .bola, #pAd2 .bola, #pAd3 .bola, #pAd4 .bola, #pAd5 .bola, #pAd6 .bola,#pAd7 .bola, #pAd8 .bola, #pAd9 .bola{
            animation-name: fillBar;
            animation-duration: 5s;
            animation-fill-mode: both;
            animation-delay: 1s;
        }            
        #ref{
            grid-area: references;
            align-self: start;
            
        }
        #ref h5, h6{
            color: black;
        }
        #ref h5{
            font-size: 1em;
            font-weight: 700;
        }
        #ref h5:last-of-type{
            margin-top: 25px;
        }
        #ref p {
            font-size: .9em;
            font-weight: 200;
            text-indent: 0px;
        }
        .collapsible::after { 
            content:" ⯈";
            color: #BB6248; 
        }
        .collapsible {
            background-color: white;
            color: black;
            cursor: pointer;
            margin: 10px 0px;
            font-size: .9em;
            font-family: 'Quicksand', sans-serif;
            border: none;
            border-bottom: 1px solid #F37970;
          }
          .collapsible.active::after, .collapsible:hover {
            content:" ⯆";
            color:  #BE904B;
          }

        .letter{
            height:0px;
            overflow: hidden;
        } 
        .letter.open {
            height:inherit;
        }
        .letter p{
            font-size: .8em;
            font-weight: 400;
            text-indent: 12px;
            line-height: 1.4em;
            margin-top: 5px;
        }
        #pdf{
            top:100%;

            width: 95px;
            color: black;
            cursor: pointer;
            margin: 10px 0px;
            font-size: .9em;
            font-family: 'Quicksand', sans-serif;
            border-bottom: 1px solid #F37970;
            padding-bottom: 0;
            padding-left: 15px;

        }
    /*end cv*/
    /*me.html*/
        #me{
            float: left;
            left: 250;
            height: 400px;
            padding: 20px;
            padding-right: 60px;
            padding-bottom: 64px;
            margin-top: 60px;
            width: 400px;
            height: auto;
            min-width: 250px;
            min-height: 250px;
        }

        #textMe{
            margin: 140px 0px 18px 430px;
            padding: 0px 20px 0px 50px;
            min-width: 420px;
        }
        #textMe h5{
            padding-bottom: 8px;
        }
        #textMe h6{
            padding: 10px 0px;
            font-size: 1.1em;
            font-weight: 500;
            color: #BB6248;
        }
    	.int {
            height: 30px;
            width: 30px;
            display: inline-block;
        
            padding: 2px 15px;
        }
        #reading{
            height: 28px;
        }
        .int:first-child{
            padding-left: 0px;
        }
    /*end me*/
    /*portfolio*/
        .oneThird{
            display: inline-block;
            overflow: hidden;
            position: relative;
            background-color: #F37970;
            border-radius: 10px;
            box-shadow: 2px 5px 5px rgb(240, 240, 240);

        }
        .oneThird #blueD{
            background-color: black; 
        }

        .child{
            width: 100%;
            height: 100%;
            display: block;
            background-size: cover; 
            background-position: center;
            border-radius: 10px;
            transition: all .5s;
        }
        #finding{
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("/img/findingAnimals/Artboard\ 1.png");
            background-color: rgb(253, 253, 241);
        }
        #blueD{
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("/img/bluedetailsLogo-02.png");
            background-color: rgb(253, 253, 241);
        }
        #azoresbox{
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("/img/app.jpg");
            background-color: rgb(253, 253, 241);
        }
        #anima{
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("/img/logo.png");
            background-color: rgb(34, 15, 39);
        }
        #edu{
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("/img/educational.png");
            background-color: rgb(253, 253, 241);
        } 
      
        #gorreana{
            background-image: url("/img/gorreana/gorreanafloreados.jpg" );
        }
        #lencos{
            background-image: url("/img/OsLenços/l.jpg");

        }
        #animals{
            background-image: url("/img/EndangerAnimals/front-05.png");
        }
        #types{
            background-image: url("/img/mapTypefaces/front-01.png");
            background-color: rgb(241, 235, 220);
        }
        .contHidden{
            top:0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .8s ease-in-out;
            transition-delay: .2s;
            background-color: rgb(61, 48, 48);
        }
        /*add hover effect to all container*/
        .oneThird:hover{
            box-shadow: 5px 5px 5px rgb(230, 230, 230);
        }
        .oneThird:hover .contHidden{
            opacity: 1;
            
        }
        .oneThird:hover .child  {
            transform: scale(1.2);
        }

        .contText{
            position: absolute;
            top: 90%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            font-weight: 200;
            text-align: center;
            background-color: rgba(43, 36, 36, 0.97);
            padding: 50% 5px;
        }
        .contText h4{
            color: #F37970;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 1.3em;
            margin-bottom: 5px;

        }
        .contText h6{
            color: white;
            font-weight: 400;
            font-size: .8em;
        }
        .contText:hover{
          color: #BE904B;
        }
        #behanceLink{
            font-size: .8em;
            text-align: center;
            margin-top: 30px;
            
        }
        #behanceLink a{
            color:#F37970;
            text-decoration: none;
        }
        #behanceLink a:hover{
            color:#BE904B;
        }
        
        footer{
            z-index: 5;
            width: 100%;
            height: 20px;
            border-top: 1px solid #f37970; 
            background-color: white;
            grid-area: footer;
            padding: 15px 27px ;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: .7em;
            margin-left: -25px;
            /*margin-bottom: -4px;*/
        }

        
/*media & screensize*/
@media (max-width: 800px){

    #first{
        position: absolute;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px auto 50px;   
        grid-template-areas: 
            "head"
            "content"
            "footer";  
        margin: 0; 
        min-height: 100%;
    }
 
    header{   
        grid-area: head; 
        position: static; 
        font-size: .6em;
        font-weight: 700;
        margin-left: 0px; 
        padding: 15px 0px 10px 20px;  
        height: auto;
        z-index: 3;
        border-bottom: 1px solid #F37970; 
        background: none;
    }
    #toggle{
        position: absolute; 
        top: 18px; 
        right: 23px;
        z-index: 10;
        width: 22px;
        height: 22px;
        padding: 5px;
        background: none; 
    }
    #nave {
        position: absolute; 
        top: 54px;
        left: auto;
        right: 10px;
        display: none;
        width: 135px;
        height: auto;
        padding: 10px 10px 0px 20px;
        border: 1px solid #F37970; 
        border-top: 4px solid #FFF;
        border-radius: 0px 0px 4px 4px;
        margin: 0px 0px;
        box-shadow: 1px 2px 2px rgba(158, 158, 158, 0.2);
    }
    #fix{
        position: absolute;
        top: 54px;
        left: auto;
        right:0px;
        display: none;
        width: 135px;
        height: auto;
        padding: 10px 10px 0px 20px;
        border: 1px solid #F37970; 
        border-top: 4px solid #FFF;
        border-radius: 0px 0px 4px 4px;
        margin: 0px 0px 0px -8px;
        box-shadow: 1px 2px 2px rgba(158, 158, 158, 0.2);
    }

    ul  {
        font-size:  1em;
    }

    #email, #instagram, #linkedin, #github{
        height: 21px;
        width: 21px;
        margin:25px 5px 10px;
    }
    #email{
        width: 25.6;
        margin-left: -2px;
    }
    #github{
        margin-left: 4px;
        margin-right: 0px;
    }
    main{
        grid-area: content;
        margin: 0px auto;
        padding: 35px;
     }
/*me.html --- mobile*/
     #me{
        float: none;
        display: block;
        align-content: center;
        width: auto;
        height: 200px;
        min-width: 200px;
        min-height: 200px;
        margin:10px auto 50px;
        padding: 0;
    }
    #textMe{
        margin: 0;
        padding: 0px;
        width: 95%;
        min-width: 250px;
        font-size: .9em;
    }
    #textMe h5{
        padding-bottom: 8px;
    }
    #textMe h6{
        padding: 25px 0px 5px;
        font-size: 1em;
    }
    .int {
        height: 24px;
        width: 24px;
        display: inline-block;
        
        padding:10px 10px 0px;
    }
    #reading{
        height: 25px;
    }

/*END - me.html --- mobile*/
/*cv.html --- mobile*/
    #cabecalho h2{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        font-weight: 200;
        font-size: 1.5em;
        padding: 45px 0px 35px;
    } 

    #one{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
            
        grid-template-areas: 
            "overview   "
            "academic   "
            "skill      "
            "employment "
            "references";

        grid-row-gap: 40px;  
        min-width: 80%;
        margin: 0;
    }

    .sel{
        margin: 5px 0px;
        min-width: 80%;
    }
    h3{
        font-size: 1.3em;
    }

    h5{
        font-size: 1.2em;
        margin-top: 18px;
    }

    h6{
        font-size: .9em;
        line-height: 1.8em;
        font-weight: 200;
    }
    #overview{
        grid-area: overview;
        line-height: 1.5em;
        padding: 0;
    }
  
    #academic{
        grid-area: academic;
    }
    #sva{
        width:auto;
        margin: 35px 0px 45px;
        padding: 10px auto;
    }

    #sva h5{
        font-size: 1em;
        font-weight: 500;
    }

    #sva h6{
        font-size: .8em;
    }

    #sva p{
        font-size: .9em;
    }
    #employment{
        grid-area: employment;
    }
   
    .line {
    width: auto;
    margin-left: 60px;
    margin-right: 0;
    min-width: 190px;
    }
    .bola{ 
        height: 9px;
        width: 9px; 
        background:none;
        border: 2px solid #F37970 ;
        margin: 0px 1px;   
    }
    #ref p{
        margin-bottom: 8px;
    }
    #ref p a {   
        text-decoration: underline;
    }
    
    .letter{
        height:0px;
        overflow: hidden;
    } 
    .letter.open {
        height:inherit;
        overflow: visible;
    }
    .letter p{
        font-size: .8em;
        font-weight: 400;
    }
    br{
        display: none;
    }
    br:first-of-type{
        display: block;
    }
/*End - cv.html -----mobile*/
/*Portfolio.html -----Mobile*/
.oneThird{
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 0 auto;

}

.contText{
    top: 85%;
    font-weight: 200;
    text-align: center;
    background-color: rgba(43, 36, 36, 0.97);
 
}
#anim .contText{
    top: 70%;
}
.contText h4{
    font-size: 1em;
    margin-bottom: 5px;
    padding: 0 5px;

}
.contText h6{
    font-size: .8em;
    line-height: 1.4em;
}
/*End - Portfolio.html -----Mobile*/

    footer{
        grid-area: footer;
        position: relative;
        width: auto;
        margin: 0;
        padding: auto;
    }

}